<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
  <configSections>
    <section name="FeatureToggleStateProvider" type="FeatureToggle.StateProvider.StateProviderConfiguration,FeatureToggle.StateProvider"/>
  </configSections>
  <FeatureToggleStateProvider default="SqlProvider">
    <providers>
      <add name="SqlProvider" type="FeatureToggle.Sql.StateProvider.SqlProvider, FeatureToggle.Sql.StateProvider" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DB.mdf;IntegratedSecurity=True;User Instance=True" />
    </providers>
  </FeatureToggleStateProvider>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
